
/*h1,     List selector: style will be applied to all
h2,
h3,
h4,
p,
li{       
    font-family: sans-serif;  
    color: #444;
}
*/

/*Universal selector:

*{

}

*/


body{
    color: #444;
    font-family: sans-serif;
    font-size: 16px;

    border-top: 10px solid #1098ad;
}

.main-header{
    background-color: #f7f7f7;
    /*padding: 20px;
    padding-left: 40px;
    padding-right: 40px; */
    padding: 20px 40px;  /*TOP and BOTTOM*/

}

aside{
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
}

h1,
h2,
h3{
    color: #1098ad;
}

h1{
    
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p{
    font-size: 22px;
    line-height: 1.5;
}

li{
    font-size:16px ;
    margin-bottom: 10px;
}

li:last-child{
    margin-bottom: 0;
}

/*footer p{  Descendant selector: will select all p elements inside a footer
    font-size:16px;
} */

/*article header p{  Descendant selector: will select all p elements inside a header that are inside a footer 
    font-size: 16px;
} */


/* We can only use each ID once, and we can use classes more than one time*/
#author{  /*ID (#)*/
    font-style: italic;
    font-size: 18px;
}

#copyright{
    font-size: 16px;
}

.related-author{  
    font-size: 18px;
    font-weight: bold;
}

.related{
    list-style: none;
}

/* Geralmente não usamos ID´S */



/* .first-li{
        font-weight-bold
    }                         */


/*Pseudo-Classes: perfect for situations where all child elements are the same*/

li:first-child{           /*Select all li elements that are the first child element.*/
    font-weight: bold;
}

li:last-child{  /*Select all li elements that are the last child element*/
    font-style: italic;
}

/*li:nth-child(2){  /*Select all li elements that are in second and are child elements
    color: red;
}  */


/*A imagem da autora está dentro do primeiro P, logo, n acontece nada*/
article p:first-child{
    color: red;
}

/*Styling links*/
a:link{  /*targets anchor elements that have href attribute*/
    color:#1098ad ;
    text-decoration: none;
}

a:visited{  /*applying style when a link has already been visited*/
    /* color: #777; */
    color: #1098ad;
}

a:hover{  /*applying style when the link is being hovered by mouse  */
    color: orangered;
    font-weight: bold;
    text-decoration:underline  orangered ;
    /*we can define line, style and color in one line*/
}

a:active{  /*applying style to link of the moment we click*/
    background-color: black;
    font-style: italic;
}