
/*h1,     List selector: style will be applied to all
h2,
h3,
h4,
p,
li{       
    font-family: sans-serif;  
    color: #444;
}


/*Universal selector: */

*{                                        /*This is extremely common, usually the first thing to do.*/
    margin: 0;
    padding: 0;
}



/*Having all the default spaces makes it harder for us to style our page, so, what we want to do is a 
global reset, and basically set all margins and paddings to 0*/


/* PAGE SECTIONS */
body{
    color: #444;
    font-family: sans-serif;
    font-size: 16px;

    border-top: 10px solid #1098ad;
    position: relative;
}

.container{
    width: 800px;
    /*margin-left: auto;      Centering page
    margin-right: auto;                        */
    margin: 0 auto;  /*doing the same thing: top and bottom = 0  | left and right auto*/
    position: relative;
}

.main-header{
    background-color: #f7f7f7;
    /*padding: 20px;
    padding-left: 40px;
    padding-right: 40px; */
    padding: 20px 40px;  /*TOP and BOTTOM*/
    margin-bottom: 60px;        /*It is very common to use mostly space at the bottom to create vertical space*/
    /* height: 80px; */

}

nav{
    font-size: 18px;
}

article{
    margin-bottom: 60px;
}

.post-header{
    margin-bottom: 40px;
}

aside{
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    /*padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 0;  /* Top and Bottom 50px, left and right 0px*/
    width: 500px;
}

/* SMALLER ELEMENTS */


h1,
h2,
h3{
    color: #1098ad;
}

h1{
    
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2{
    font-size: 40px;
    margin-bottom: 30px;
}

h3{
    font-size: 30px;
    margin-bottom: 20px;

}

h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul,ol{
    margin-left: 50px;  /*To show bulletpoints(they had no space)*/
}

li{
    font-size:16px ;
    margin-bottom: 10px;
    /* display: inline; */
}

li:last-child{
    margin-bottom: 0;
}

/*footer p{  Descendant selector: will select all p elements inside a footer
    font-size:16px;
} */

/*article header p{  Descendant selector: will select all p elements inside a header that are inside a footer 
    font-size: 16px;
} */


/* We can only use each ID once, and we can use classes more than one time*/
#author{  /*ID (#)*/
    font-style: italic;
    font-size: 18px;
}

#copyright{
    font-size: 16px;
}

.related-author{  
    font-size: 18px;
    font-weight: bold;
}

.related{
    list-style: none;
}

/* Geralmente não usamos ID´S */



/* .first-li{
        font-weight-bold
    }                         */


/*Pseudo-Classes: perfect for situations where all child elements are the same*/

li:first-child{           /*Select all li elements that are the first child element.*/
    font-weight: bold;
}

li:last-child{  /*Select all li elements that are the last child element*/
    font-style: italic;
}

/*li:nth-child(2){  /*Select all li elements that are in second and are child elements
    color: red;
}  */


/*A imagem da autora está dentro do primeiro P, logo, n acontece nada*/
article p:first-child{
    color: red;
}

/*Styling links*/
a:link{  /*targets anchor elements that have href attribute*/
    color:#1098ad ;
    text-decoration: none;
}

a:visited{  /*applying style when a link has already been visited*/
    /* color: #777; */
    color: #1098ad;
}

a:hover{  /*applying style when the link is being hovered by mouse  */
    color: orangered;
    font-weight: bold;
    text-decoration:underline  orangered ;
    /*we can define line, style and color in one line*/
}

a:active{  /*applying style to link of the moment we click*/
    background-color: black;
    font-style: italic;
}

.post-img{
    width: 100%;
    height: auto;   /*the auto propertie maintains original ratio of the element*/
}

 nav a:link{
    /*background-color: orangered;
    margin: 20px;
    padding: 20px;
    display:block;                     Como a altura do header estava fixada em 80px, os links(que viraram elementos tipo bloco) invadiram outro elemento. */
    margin-right: 30px;
    margin-top: 15px;
    display: inline-block;
    /*Como agora o elemento é inline-block, margin-top funciona(mesma funcionalidade do elemento do tipo bloco, mas sem ocupar espaço desnecessário)*/
}

nav a:link:last-child{
    margin-right: 0;                   /*setando margin right do último elemento child anchor de nav para 0(chaining two pseudo-classes)*/
}

button{
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    position: absolute;  /*O elemento button com position absolute terá sua posição top, bottom, left e right de acordo com o elemento pai(position relative)*/
    /*Nesse caso queremos em relação ao container*/
    bottom: 50px;
    right: 50px;
}